---
layout: default
---

<div>

  {{ content }}

  <h2>Últimas publicaciones</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <!-- {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %} -->
        {% assign m = post.date | date: "%-m" %}
        <span class="post-meta">
        {{ post.date | date: "%-d" }} de 
        {% case m %}
          {% when '1' %}Enero
          {% when '2' %}Febrero
          {% when '3' %}Marzo
          {% when '4' %}Abril
          {% when '5' %}Mayo
          {% when '6' %}Junio
          {% when '7' %}Julio
          {% when '8' %}Agosto
          {% when '9' %}Septiembre
          {% when '10' %}Octubre
          {% when '11' %}Noviembre
          {% when '12' %}Diciembre
        {% endcase %}
        {{ post.date | date: "%Y" }}
        </span>
        <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt | markdownify | truncatewords: 30 }}

      </li>
    {% endfor %}
  </ul>
  <a href="{{ '/' | absolute_url }}">Regresar a la Pagina de Inicio</a>

</div>
